/* signup css */
#login>form{
    width: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    margin: auto;
    margin-top: 100px;
    padding: 35px;
    border-radius: 10px;
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
input{
    font-size: 18px;
    width: 100%;
    margin: 15px 0px;
    height: 30px; 
    border-radius: 8px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
input[type=text],[type=password],[type=email]{
     box-sizing: border-box; 
      padding: 20px;
}
input[type=submit]{
    height: 40px;
    padding: 10px 10px;
}

/* login-css */

#login>form{
    width: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    margin: auto;
    margin-top: 100px;
    padding: 35px;
    border-radius: 10px;
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
input{
    font-size: 18px;
    width: 100%;
    margin: 15px 0px;
    height: 30px; 
    border-radius: 8px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
input[type=text],[type=password],[type=email]{
     box-sizing: border-box; 
      padding: 20px;
}
input[type=submit]{
    height: 40px;
    padding: 10px 10px;
}
